@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  background-color: #f5f5f5;
}

header {
  margin: 0px 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 60px;
  align-items: center;
}
.left {
  display: flex;
  align-items: center;
}
.left input {
  padding: 8px 10px;
  padding-left: 30px;
  font-size: 15px;
  width: 450px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.left input::placeholder {
  color: #8080809e;
}
.left i {
  position: relative;
  left: 25px;
  font-size: 12px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right select {
  border: none;
  background-color: white;
  outline: none;
}
.right button {
  background-color: #f84464;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.right i {
  font-size: 20px;
  cursor: pointer;
  color: grey;
}

.navLinks {
  padding: 10px 100px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
}
#links {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}
#links {
  font-style: normal;
  font-weight: 400;
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: normal;
}
#offers {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 14px;
}
#offers {
  font-style: normal;
  font-weight: 400;
  color: rgb(51, 51, 51);
  font-size: 12px;
  line-height: normal;
}

.banner {
  padding: 10px 100px;
  background-color: #ebebeb;
}
.banner img {
  border-radius: 10px;
  width: 100%;
}

.recommended-movies {
  margin: 40px 100px;
  background-color: white;
}
.recommended-movies .header {
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}
.header h3 {
  font-size: 27px;
}
.header a {
  text-decoration: none;
  color: #f84464;
  font-size: 14px;
}
.movies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}
/* #movie1{
    grid-column: span 2;
    grid-row: span 2;
} */
.card img {
  width: 100%;
  border-radius: 10px;
}
.card h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: rgb(34, 34, 34);
}
.card p {
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgb(102, 102, 102);
}

#banr {
  padding: 10px 100px;
  background-color: #ffffff;
}
#banr img {
  border-radius: 10px;
  width: 100%;
}

.live-events {
  margin: 40px 100px;
  background-color: white;
}
.live-events .header {
  color: rgb(51, 51, 51);
  display: flex;
  justify-content: space-between;
}

.life-events-best {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.ble img {
  width: 100%;
  border-radius: 10px;
}

.premiere-contains-all {
  background-color: #2b3148;
}
.premiere-contains-all .image img {
  padding: 10px 100px;
}
.premire-container {
  margin: 0px 100px;
  background-color: #2b3148;
}
.premire-container .header {
  background-color: #2b3148;
  color: white;
}
.premire-container .header h3 {
  font-size: 27px;
}
.premire-container .header h5 {
  font-size: 14px;
}
.premire {
  background-color: #2b3148;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.premire .prem img {
  width: 100%;
  border-radius: 10px;
}
.premire .prem h4 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.premire .prem p {
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.music-studio {
  margin: 40px 100px;
  background-color: white;
}
.music-studio .header {
  display: flex;
  justify-content: space-between;
}
.music-studio .header h3 {
  font-size: 27px;
}

.music {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.card img {
  width: 100%;
  border-radius: 10px;
}

.outdoor-events {
  margin: 40px 100px;
  background-color: #f2f5f9;
}
.outdoor-events .header {
  display: flex;
  justify-content: space-between;
}
.outdoor-events .header h3 {
  font-size: 27px;
}
.outdoor-events .header a {
  color: #f84464;
  font-size: 14px;
}
.events {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.card p {
  color: #666666;
}

.laughter-therapy {
  margin: 40px 100px;
  background-color: white;
}
.laughter-therapy .header {
  display: flex;
  justify-content: space-between;
}
.laughter-therapy .header h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  color: rgb(51, 51, 51);
}
.laughter-therapy .header a {
  color: #f84464;
  font-size: 14px;
}
.laughter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.laughter h4 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}
.laughter p {
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
}

.popular-events {
  margin: 40px 100px;
  background-color: white;
}
.popular-events .header {
  display: flex;
  justify-content: space-between;
}
.popular-events .header h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  color: rgb(51, 51, 51);
}
.popular-events .header a {
  color: #f84464;
  font-size: 14px;
}
.popular {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.popular h4 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}
.popular p {
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
}

.latest-plays {
  margin: 40px 100px;
  background-color: white;
}
.latest-plays .header {
  display: flex;
  justify-content: space-between;
}
.latest-plays .header h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  color: rgb(51, 51, 51);
}
.latest {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.latest h4 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}
.latest p {
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
}

.games-sports {
  margin: 40px 100px;
  background-color: white;
}
.games-sports .header {
  display: flex;
  justify-content: space-between;
}
.games-sports .header h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  color: rgb(51, 51, 51);
}
.games-sports .header a {
  color: #f84464;
  font-size: 14px;
}
.games {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-top: 10px;
}
.games h4 {
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}
.games p {
  color: rgb(102, 102, 102);
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
}

.trending-searches-container {
  max-width: 1200px;
  margin: 40px 100px;
}
.trending-searches-container h2 {
  color: #333;
  margin-bottom: 20px;
}
.trending-searches {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.trends {
  background-color: white;
  padding: 15px;
  width: 220px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.title {
  color: rgb(248, 68, 100);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}
.category {
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.footer-banner {
  background-color: #2e2d32;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  height: 52px;
  /* flex-wrap: wrap; */
}
.footer-banner .footer-left {
  margin: 40px 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* flex-wrap: wrap; */
}
.footer-left span {
  color: #ddd;
}
.footer-banner button {
  margin-right: 100px;
  background-color: #f05c70;
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

.footer-info-contain {
  background-color: #404043;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 10px; */
  padding: 20px 0;
  /* flex-wrap: wrap; */
}
.info-box {
  /* justify-content: center;
  text-align: center; */
  color: #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box img {
  width: 50px;
  margin-bottom: 10px;
  margin-right: 80px;
}
.info-box a {
  margin-right: 80px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: rgb(165, 165, 165);
  font-size: 11px;
  line-height: 18px;
  transition: color 0.3s ease;
}
.info-box a:hover {
  color: white;
}

.footer {
  background-color: #333338;
  /* margin-bottom: 50px; */
  padding-bottom: 50px;
}
.footer-links {
  background-color: #333338;
  padding: 40px 50px;
  margin: 0px 90px;
}

.link-section {
  margin-bottom: 30px;
}

.link-section h4 {
  margin-bottom: 10px;
  color: rgb(165, 165, 165);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
}

.link-section a {
  color: rgb(153, 153, 153);
  text-decoration: none;
  margin-right: 8px;
  line-height: normal;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}
.link-section a:hover {
  color: #fff;
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 2000px;
}
.line {
  flex: 1;
  height: 1px;
  background-color: #888;
  opacity: 0.4;
}

.footer-logo img {
  height: 40px;
}

.social-icons {
  text-align: center;
  height: 100px;
  /* display: flex; */
  gap: 20px;
  /* margin-bottom: 30px;  */
}
.social-icons i {
  display: inline-flex; /* make container a flexbox */
  justify-content: center; /* center horizontally */
  align-items: center;

  width: 35px;
  height: 35px;
  background-color: #5d5d5f;
  border-radius: 50%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
  font-size: 18px;
  padding: 0px 0px;
  margin: 0 5px;
  cursor: pointer;
  color: #333338;
  transition: background-color 0.3s ease;
}
.social-icons i:hover {
  background-color: #fff;
}

.copyright {
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  font-size: 11px;
  color: rgb(102, 102, 102);
}

/* 
@media (max-width: 426px){
    nav{
        display: none;
    }
    .navLinks{
        display: none;
    }
    .banner{
        padding: 10px 10px;
    }
}

@media (min-width: 426px) and (max-width: 768px){
    header{
        margin: 0px 10px;
    }
    .left svg{
        display: none;
    }
    .left input{
        width:90vw ;
    }
    .right{
        display: none;
    }
    .navLinks{
        padding: 10px 0px;
    }
    #offers{
        display: none;
    }
    .banner{
        padding: 10px 40px;
    }
}   */

/* @media (min-width: 426px) and (max-width: 768px){
    .recommended-movies{
    padding-top: 30px;
    margin: 0px 0px;
    background-color: white;
}
.movies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 10px;
}
} */
